snippet mjml "Basic MJML syntax structure" b
<mjml>
  <mj-body>
    <mj-container background="ddd">
      <mj-section>
        <mj-column>
					${1:Your content}
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>

        </mj-column>
      </mj-section>
    </mj-container>
  </mj-body>
</mjml>
endsnippet

snippet divider "Comment as divider" b
<!-- ${1:element name} -->
endsnippet
