snippet csstitle "Title CSS" b
/*------------------------------------*\
  #${1:Title}
\*------------------------------------*/
endsnippet

snippet sasstitle "Title SASS" b
//--------------------------------------
// ${1:Title}
//--------------------------------------
endsnippet
